*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 20px;
    font-family: montserrat, regular;
}
main {
    height: 30vh;
}
h1{
    color: #7fffd4;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}
p {
    text-align: center;
}
footer ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
footer ul li {
    list-style: none;
    cursor: pointer;
}
footer ul li:hover {
    font-weight: 700;
    font-size: 1.2rem;
}